@model Samoloty.Models.Aircraft

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaxCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaxCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bought)
        </dd>

    </dl>
</div>

<p>Flights:</p>
@foreach (var item in Model.Flights)
{
    <p>@item.Date - @item.dep - @item.dest</p>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
